.App{ 
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 90vh;
}

.dark{
  /* Here we define color*/
  --color-primary:#181818;
  --color-secondary:#f0f0f0;
  --color-tertiary:#0056B3;
  --color-quaternary:#0099F7;
  /* Here we define typography*/
  --typography-primary: Helvetica,arial,sans-serif;
  --typography-secondary: Verdana;
}

.light{
  --color-primary:#f0f0f0;
  --color-secondary:#181818;
  --color-tertiary:#0099F7;
  --color-quaternary:#0056B3;
}
.contrast{
  --color-primary:#FFD700 ;
  --color-secondary:#000 ;
  --color-tertiary:#1E3A8A  ;
  --color-quaternary:#FFFFFF ;
}